NODE_ENV=

ALLOWED_ORIGIN=

HTTP_PORT=
WS_PORT=

DATABASE_URL=
REDIS_URL=

SALT_ROUNDS=
ACCESS_TOKEN_SECRET=              
ACCESS_TOKEN_TTL=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_TTL=

MAX_SESSIONS_PER_USER=