# common
NODE_ENV=

DATABASE_URL=
REDIS_URL=

ACCESS_TOKEN_SECRET=

# http-server
ALLOWED_ORIGIN=

HTTP_PORT=

SALT_ROUNDS=
ACCESS_TOKEN_TTL=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_TTL=

MAX_SESSIONS_PER_USER=
